<?xml version="1.0"?>
<launch>
  <arg name="model" default="$(find prius_description)/urdf/prius.urdf" />
  <arg name="rvizconfig" default="$(find car_demo)/rviz/demo.rviz" />

  <!-- Take topic names as arguments from YonoArc -->
  <arg name="front_camera" default="/prius/front_camera/image_raw" />
  <arg name="back_camera" default="/prius/back_camera/image_raw" />
  <arg name="back_camera_info" default="/prius/back_camera/camera_info" />
  <arg name="front_camera_info" default="/prius/front_camera/camera_info" />
  <arg name="right_camera" default="/prius/right_camera/image_raw" />
  <arg name="left_camera" default="/prius/left_camera/image_raw" />
  <arg name="center_laser" default="/prius/center_laser/scan" />
  <arg name="front_left_laser" default="/prius/front_left_laser/scan" />
  <arg name="front_right_laser" default="/prius/front_right_laser/scan" />
  <!-- Car Location -->
  <arg name="x" default="3" />
  <arg name="y" default="-12" />

  <!-- Remap Topics based on YonoArc's arguments -->
  <!-- <remap from="/prius/front_camera/image_raw" to="$(arg front_camera)" />
  <remap from="/prius/back_camera/image_raw" to="$(arg back_camera)" />
  <remap from="/prius/right_camera/image_raw" to="$(arg right_camera)" />
  <remap from="/prius/left_camera/image_raw" to="$(arg left_camera)" />
  <remap from="/prius/back_camera/camera_info" to="$(arg back_camera_info)" />
  <remap from="/prius/front_camera/camera_info" to="$(arg front_camera_info)" />
  <remap from="/prius/center_laser/scan" to="$(arg center_laser)" />
  <remap from="/prius/front_left_laser/scan" to="$(arg front_left_laser)" />
  <remap from="/prius/front_right_laser/scan" to="$(arg front_right_laser)" /> -->


  <param name="robot_description" textfile="$(arg model)" />


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="verbose" value="true" />
    <arg name="world_name" value="$(find car_demo)/worlds/mcity.world" />
    <arg name="gui" value="true" />
  </include>
  <group ns="prius1">
    <param name="robot_description" textfile="$(arg model)" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" value="prius1" />
    </node>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model prius1 -x $(arg x) -y $(arg y) -z 0.5 -param robot_description" />
  </group>

  <group ns="prius2">
    <param name="robot_description" textfile="$(arg model)" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" value="prius2" />
    </node>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model prius2 -x $(arg x) -y $(arg y) -z 0.5 -param robot_description" />
  </group>
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="very_inaccurate_odom" args="0 0 0 0 0 0 odom base_link" />
  <node pkg="car_demo" type="joystick_translator" name="joystick_translator" /> -->
  <!-- <group ns="prius1"> -->
  <!-- <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -x $(arg x) -y $(arg y) -z 0.5 -model prius" /> -->
  <!-- </group> -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>
